{:paths ["target/classes"]
 :aliases {:dev {:extra-paths ["src" "build"]}
           :build {:deps        {org.clojure/clojure {:mvn/version "1.10.1"}
                                 io.github.clojure/tools.build {:git/tag "v0.7.4" :git/sha "ac442da"}}
                   :paths ["src" "build"]
                   :ns-default  dev.mccue.jproject.build}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        io.github.clojure/tools.build {:git/tag "v0.7.4" :git/sha "ac442da"}}
 :deps/prep-lib {:alias :build
                 :fn    compile
                 :ensure "target/classes"}}
